*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
body{
   /* background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));*/
   background: #fff;
    min-height: 100vh;
}
.hero{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.nav .logo{
    width: 80px;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 17vmin;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;

}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;

}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}


@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
.contentText{
    background-color: antiquewhite;
    height: 20vw;
    width: 70vw;
    margin-top: 28px;
    border-radius: 24px;
    box-shadow:  0 0 20px 10px rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 2.0;
    
    display: block;
    text-align: center;
    padding: 10px 10px;
}
.new{
    display: flex;
    justify-content: center;
    align-items: center;

}
/*.card{
    grid-template-columns: repeat(2,1fr);
    display: grid;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    

}*/

.card{
    background-color: rgb(103, 116, 112);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.item{
    
    height: 300px;
   width: 300px;
   background-color: #fff;
   margin: 10px;
   display: inline-block;
   overflow: hidden;
}
.item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card::-webkit-scrollbar{
    width: 0;
}
.x{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow:  0 0 20px 10px rgba(0,0,0,.4);
    width: 80vw;
    border-radius: 24px;

}
.y{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotter{
    height: 20vw;
    width:100%;
    background-color: rgb(89, 89, 88);
    margin-top: 20px;
   
   
}
.new{
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    
   
}
.ff{
    margin-top: 25px;
    color: #fff;
}
.ff h3{
    font-weight: 800;
}
.item{
    transition: 3s;
}
.item img{
    width: 100%;
    display: block;
    background-size: cover;
}
.item:hover{
    transform: scale(1.3);
    z-index: 2;
}
.container{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
   
}

.xx{
    height:25rem ;
    width: 23rem;
    background: #fff;
    text-align: center;
   margin-top: 15px;
   box-shadow:  0 0 20px 10px rgba(0,0,0,.4);
   
    
}
.text{
    padding-top: 5px;
}
.xx img{
    height: 13rem;
    width: 20rem;
  
    padding-top: 35px;

}
button{
    height: 40px;
    width: 110px;
    padding: auto;
    background: #7fad39;
}